body{
    background-color: rgb(0, 0, 0);
    font-family: 'Heebo', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
/* div{
    border:1px solid white;
} */
.main{
    height: 450px;
    width: 500px;
    background-color: #202731;
    border-radius: 30px;
}
.top{
    height: 14%;
    padding-top: 15px;
}
.mid{
    height: 35%;
    color:white;
}
h1{
    margin-left: 30px;
    margin-top: 40px;
}
.pRate{
    color:#5d646e;
    margin-left: 30px;
    font-weight: 500;
    margin-right: 100px;

}
.bot{
    height: 55%;
}
.img{
    background-color: #292d36;
    margin-left: 30px;
    margin-top: 30px;
    width: 10%;
    height:80%;
    text-align: center;
    border-radius: 50%;
}
.icon{
    padding-top: 17px;
}
.rate{
    text-align: center;
    margin-left:30px ;
    background-color: #292d36;
    border-radius: 50%;
    padding: 20px 27px 20px 27px;
    color:white;
    border:0;
    margin-bottom: 4px;
}
.submit{
    background-color: #f27c29;
    padding: 15px;
    width:400px;
    border:0;
    color:white;
    border-radius: 25px;
    margin: 20px 0 0 50px;
    font-size: 18px;
}
button{
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
}

.rate:hover {
    background: linear-gradient(white, white);
    color: #292d36;
  }
  .rate:focus {
    background: #f27c29;
    color: white;
  }
  .submit:hover {
    background: white;
    color: #f27c29;
  }

  .topB{
    margin: 60px 170px 0px 150px;
  }
  .selected{
    background-color: #262f38;
    border-radius: 20px;
    font-size: 10px;
    margin-top: 30px;
    height: 40px;
    width: 220px;
    margin-left: -15px;
  }
  .selectedText{
    color:#f27c29;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 7px;
    padding-top: 0;
    margin-top: 8px;
    margin-left: 30px;
    font-size: 15px;
  }
  .botB{
    color:white;
    margin-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .h1Thank{
    margin-left: 165px;
    margin-top: 20px;
  }
  .pText{
    color:#5d646e;
    margin-left: 70px;
    font-weight: 500;
    white-space: pre-line;
  }
  .span1{
    margin-left: 10px;
  }
  .span2{
    margin: 130px;
  }

  @media screen and (max-width: 640px) {
    .main{
        width: 400px;
    }
    .img{
        width: 13%;
    }
    .rate{
        margin-top: 5px;
        margin-left:15px ;
        padding: 16px 25px 16px 25px;
        margin-bottom: 4px;
    }
    .pRate{
        margin-right: 50px;
    }
    .submit{
        width:320px;
        margin: 25px 0 0 40px;
    }
    .topB{
        margin: 60px 170px 0px 120px;
      }
      .selected{
        margin-left: -10px;
        width: 185px;
        height: 40px;
      }
      .selectedText{
        margin-top: 8px;
        margin-left: 10px;
        font-size: 15px;
      }
      .h1Thank{
        margin-left: 120px;
      }
      .pText{
        margin-left: 20px;
        font-weight: 500;
        white-space: pre-line;
      }
      .span1{
        margin-left: 10px;
      }
      .span2{
        margin: 130px;
      }
  }